* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

body {
  font: 14px/20px Arial, Helvetica, Verdana, sans-serif;
  color: #222;
}

main {
  margin: 0px auto;
  padding: 0px 18px 60px 18px;
  width: 100%;
  min-height: 100vh;
  max-width: 800px;
  position: relative;
  overflow: hidden;
}

h3 {
  font-size: 21px;
}

a {
  color: #108be3;
  text-decoration: none;
  cursor: pointer;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 50px;
}

#toggle-mode {
  display: block;
  position: absolute;
  bottom: 18px;
  width: 300px;
  left: 0px;
  right: 0px;
  margin: 0px auto;
  font-size: 18px;
  padding: 8px;
  text-align: center;
}

body.theme-night {
  background: #242f3e;
  color: #fff;
}

.tg-ch {
  margin: 0 -18px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tg-ch--view {
  height: 430px;
  max-height: 50vh;
  position: relative;
}

.tg-ch--grid-container {
  position: relative;
  height: 100%;
  overflow: hidden;
  margin: 0 18px;
}

.tg-ch--y-label {
  position: absolute;
  display: flex;
  z-index: 800;
  width: 100%;
  justify-content: space-between;
  opacity: 0;
  pointer-events: none;
}

.tg-ch--y-label div {
  transition: opacity .35s;
}

.tg-ch.is-animated .tg-ch--y-label {
  transition: opacity .35s, bottom .35s;
}

.tg-ch--y-line {
  position: absolute;
  height: 1px;
  width: 100%;
  z-index: 400;
  opacity: 0;
}

body.theme-day .tg-ch--y-line {
  background: rgba(24, 45, 59, 0.1);
}

body.theme-night .tg-ch--y-line {
  background:rgba(255, 255, 255, 0.1);
}

.tg-ch.is-animated .tg-ch--y-line {
  transition: opacity .35s, bottom .35s; 
}

.tg-ch--x-axis {
  position: relative;
  overflow: hidden;
  height: 35px;
  margin: 0 -18px;
}

.tg-ch--x-label {
  position: absolute;
  top: 5px;
  opacity: 0;
  text-align: center;
  width: 100px;
}

.tg-ch.is-animated .tg-ch--x-label {
  transition: opacity .35s;
}

.tg-ch--x-axis, .tg-ch--y-label {
  font-size: 12px;
}

body.theme-day .tg-ch--x-axis, body.theme-day .tg-ch--y-label {
  color: #96a2aa;
}

body.theme-night .tg-ch--x-axis, body.theme-night .tg-ch--y-label {
  color: #546778;
}

.tg-ch--top-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
}

.tg-ch--selection-line {
  display: none;
  position: absolute;
  width: 1px;
  height: 93%;
  bottom: 0px;
  z-index: 600;
}

body.theme-day .tg-ch--selection-line {
  background: rgba(176, 193, 204, 0.3);
}

body.theme-night .tg-ch--selection-line {
  background: #3b4a5a;
}

.tg-ch--selection-bubble {
  display: none;
  width: 12px;
  height: 12px;
  margin-left: -6px;
  margin-bottom: -6px;
  border: 2px solid #000;
  position: absolute;
  border-radius: 12px;
  pointer-events: none;
  z-index: 700;
}

.tg-ch.is-animated .tg-ch--selection-bubble.is-animated {
  transition: bottom .35s, opacity .35s;
}

body.theme-day .tg-ch--selection-bubble {
  background: #fff;
}

body.theme-night .tg-ch--selection-bubble {
  background: #242f3e;
}

.tg-ch--selection-box {
  display: none;
  white-space: nowrap;
  position: absolute;
  top: 0px;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 10px 6px 10px;
  border-radius: 6px;
  margin-right: 8px;
  cursor: pointer;
  z-index: 900;
}

body.theme-day .tg-ch--selection-box {
  border: 1px solid #e3e3e3;
  background: #ffffff;
  -webkit-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.08);
  -moz-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.08);
  box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.08);
}

body.theme-night .tg-ch--selection-box {
  background: #242f3e;
  -webkit-box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.2);
  box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.2);
}

.tg-ch--selection-box-labels {
  margin-top: 6px;
  font-weight: normal;
  font-size: 13px;
  margin-left: -15px;
  white-space: normal;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  width: 150px;
}

.tg-ch--selection-box-labels div {
  display: flex;
  justify-content: space-between;
  flex: 1;
  margin-left: 15px;
  flex: 1;
}

.tg-ch--selection-box-labels b {
  display: block;
}

.tg-ch--cover {
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  z-index: 100;
  opacity: 0.7;
}

body.theme-day .tg-ch--cover{
  background: white;
}

body.theme-night .tg-ch--cover{
  background: #242f3e;
}

.tg-ch--cover.left {
 left: 0;
}

.tg-ch--cover.right {
 right: 0;
}

.tg-ch--view-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(-1);
}

.tg-ch--view-svg > g > g > rect {
  transition: transform .35s;
}

.tg-ch--overview {
  position: relative;
  height: 50px;
  max-height: 10vh;
  margin: 0 18px;
  overflow: hidden;
  border-radius: 10px;
}

.tg-ch--overview-window {
  position: absolute;
  height: 100%;
  border-style: solid;
  border-width: 2px 9px;
  border-radius: 10px;
}

.tg-ch.is-animated .tg-ch--overview-window {
  transition: opacity .35s;
}

body.theme-day .tg-ch--overview-window {
  border-color: rgba(84, 149, 194, 0.2);
  box-shadow: 0px 0px 0px 100vw rgba(244, 247, 252, 0.8);
}

body.theme-night .tg-ch--overview-window {
  border-color: rgba(128, 176, 210, 0.3);
  box-shadow: 0px 0px 0px 100vw rgba(29, 39, 54, 0.7);
}

.tg-ch--overview-handle {
  position: absolute;
  height: 100%;
  width: 24px;
  top: 0px;
}

.tg-ch--overview-handle.is-left {
  left: -18px;
}

.tg-ch--overview-handle.is-right {
  right: -18px;
}

.tg-ch--overview-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(-1);
  shape-rendering: geometricPrecision;
}

.tg-ch--view-svg .animatable,
.tg-ch--overview-svg .animatable {
  transform-origin: top left;
}

.tg-ch.is-animated .tg-ch--view-svg .animatable,
.tg-ch.is-animated .tg-ch--overview-svg .animatable {
  transition:  transform .35s, opacity .35s;
}

.tg-ch--legend {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  flex-wrap: wrap;
  color: #43484b;
  padding: 9px 11px 0;
}

body.theme-night .tg-ch--legend {
  color: #e8ecee;
}

.tg-ch--legend-label {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  cursor: pointer;
  font-size: 14px;
  margin: 7px;
  padding: 10px 12px;
  border-radius: 20px;
  transition-property: box-shadow, color;
  transition-duration: 0.35s;
  color: var(--shadow-color);
  box-shadow: inset 0px 0px 0px 2px var(--shadow-color);
}

.tg-ch--legend-checkmark {
  float: left;
  position: relative;
  margin: -2px 10px -2px -5px;
  width: 24px;
  height: 24px;
  border-radius: 24px;
}

.tg-ch--legend-label.is-active {
  box-shadow: inset 0px 0px 0px 22px var(--shadow-color);
  color: white;
}

.tg-ch--legend-checkmark:before {
  content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNS4wOSAxOC43MyI+PHBhdGggc3R5bGU9ImZpbGw6I2ZmZiIgZD0iTTIwLC44OCw5LjM3LDExLjQ4LDUuMTIsNy4yNEEzLDMsMCwwLDAsLjg4LDExLjQ4bDYuMzcsNi4zNmEzLDMsMCwwLDAsNC4yNCwwaDBMMjQuMjEsNS4xMkEzLDMsMCwxLDAsMjAsLjg4WiIvPjwvc3ZnPg==');
  position: absolute;
  top: 1px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 12px;
  height: 9px;
  display: inline-block;
  background-color: transparent;
  transform: scale(0.0);
}

.tg-ch.is-animated .tg-ch--legend-checkmark:before {
  transition: transform 0.35s;
}

.tg-ch--legend-label.is-active .tg-ch--legend-checkmark:before {
  transform: scale(1.0);
}

.tg-ch--no-data {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 0px;
  font-size: 50px;
  text-align: center;
}
